*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;;
}

ul {
    list-style-type: none;
    margin-left: 1rem;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    width: 1rem;
    height: 1rem;
    color: white;
    border: 1px solid black;
    border-radius: 50% !important;
    background-color: #3088a3;
    font-size: 0.5rem
}

.red-circles{
    background-color: rgba(255, 100, 100, 0.9);
    color: black;
}

.popup-icon{
    width: 15%;
}

.addressAndName{
    display: flex;
    justify-content: center;
    text-align: center;
}

.number{
    width: 100%;
    font-size: 1rem;
    padding-left: 1rem;
}

.formContainer{
    position: relative;
    z-index: 1;
    margin: 1rem;
    width: 9.13%;
    padding: 0;
}
